*.o
*.cmd
*.order
Kernel/.tmp_vmlinux1
Kernel/.tmp_vmlinux2
Kernel/arch/arm64/*
Kernel/firmware/*
Kernel/scripts/*
Kernel/kernel/*
Kernel/.*
Kernel/vmlinux
Kernel/Module.symvers
Kernel/System.map
Kernel/drivers/tty/vt/consolemap_deftbl.c
Kernel/drivers/tty/vt/defkeymap.c
Kernel/include/config/
Kernel/include/generated/
Kernel/lib/crc32table.h
Kernel/lib/gen_crc32table
Kernel/lib/lib.a
Kernel/security/selinux/av_permissions.h
Kernel/security/selinux/flask.h
Kernel/usr/.initramfs_data.cpio.d
Kernel/usr/gen_init_cpio
Kernel/usr/initramfs_data.cpio

